.product-card{
    background-color: white;
    width: 20%;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.product-card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    cursor: pointer;
  }

.product-card-content{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.product-card-rating{
    text-align: center;
    color: ghostwhite;
    background-color: green;
    font-size: 14px;
    border-radius: 7px;
    padding:3px 6px;
}

.product-card-price{
    padding-top: 3px;
}